<ion-side-menus ng-controller="OrdersController as ordersCtrl">
<ion-side-menu-content>
<ion-pane>
  <ion-header-bar class="bar-positive">
    
    <h1 class="title">Meus pedidos</h1>
    <button class="button ion-android-exit" ng-click="logout()"></button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="order in ordersCtrl.orders"
                href="#/order/{{order._id}}" >
        {{order.description}}.
      </ion-item>
    </ion-list>
  </ion-content>
</ion-pane>
</ion-side-menu-content>
<ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Left</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item menu-close href="#/registerPerson/{{ordersCtrl.userId}}">
          Perfil
        </ion-item>
        <ion-item menu-close href="#/orders/{{ordersCtrl.userId}}">
          Pedidos
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>