<ion-side-menus ng-controller="OrdersController as ordersCtrl">
  <ion-side-menu-content>
    <ion-pane style="background-image: url('img/background_tapronto.png')!important;
    background-size: cover !important;">
      <ion-header-bar class="bar-balanced">
        <div class="title">
		<button class="button icon ion-navicon-round pull-left" ng-click="toggleLeft()"></button>
        <button class="button ion-earth pull-left" ng-click="getNotifications()">
        <span class="badge badge-assertive pull-left" ng-show="ordersCtrl.hasNotification">{{ordersCtrl.notifications.length}}</span>
        </button>
        Meus pedidos
        <button class="button ion-android-exit pull-right" ng-click="logout()"></button>
		</div>
      </ion-header-bar>
      
      <ion-content>
        <ion-list >
          <ion-item ng-repeat="order in ordersCtrl.orders"
                    href="#/order/{{order._id}}" class="transbox">
            {{order.description}}Design e construção de armário.
          </ion-item>
        </ion-list>
        <!--button class="button" ng-click="populan()"> Popular </button-->
      </ion-content>
    </ion-pane>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <header class="bar bar-header bar-balanced">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item menu-close ng-click="changeStatePerson()">
          Perfil
        </ion-item>
        <ion-item menu-close ng-click="changeState('notification', {id: ordersCtrl.userId})">
          Notificações
        </ion-item>
        <ion-item menu-close href="#/orders/{{ordersCtrl.userId}}">
          Histórico
        </ion-item>
        <ion-item menu-close href="#/orders/{{ordersCtrl.userId}}">
          Bloqueados
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>