<ion-pane style="background: linear-gradient(to bottom right, gray, #0a6b47);">
   <ion-content>
   <div>
    <div ng-controller='UserController as userCtrl'>
      <div class="list">
      	<img class="center" style="width:90%" src="img/logo.png" style="margin-top: 10%">
		<input type="text" style="margin-top:20%" placeholder="Username" data-ng-model="userCtrl.user.username" class="inputLogin">
		<input type="password" placeholder="Password" data-ng-model="userCtrl.user.password" class="inputLogin">
  	</div>

  	<button class="buttonLogin button button-positive" ng-click="userCtrl.login()">Login</button>


    </div>
    <button ng-click="userCtrl.goToRegister()" class="buttonLogin button button-positive"> Register</button>
	</div>
  </ion-content>



</ion-pane>
