<ion-pane style="background-image: url('img/background_tapronto.png')!important;
    background-size: cover !important;" >
  <ion-header-bar class="bar-balanced" ng-controller="SingleOrderController as orderCtrl">
    <button ng-click="voltar()" class="button icon-left ion-left ion-chevron-left button-balanced"></button>
    <h1 class="title">Pedido {{ orderCtrl.order.code }}</h1>
  </ion-header-bar>
 
  <ion-content ng-controller="SingleOrderController as orderCtrl">
	<br><br><br>
  	<div class="row">
	  	<ion-label class="col-sm-4"><b>Serviço: </b></ion-label>
	    <ion-label class="col-sm-8">{{ orderCtrl.order.service.name }}</ion-label>
    </div>
    <div class="row">
	  	<ion-label class="col-sm-4"><b>Empresa: </b></ion-label>
	    <ion-label class="col-sm-8">{{ orderCtrl.provider.name }}</ion-label>
    </div>
    <div class="row">
	  	<ion-label class="col-sm-4"><b>Data de solicitação: </b></ion-label>
	    <ion-label class="col-sm-8">{{ orderCtrl.order.creation_date }}</ion-label>
    </div>
    <div class="row">
	  	<ion-label class="col-sm-4"><b>Status: </b></ion-label>
	    <ion-label class="col-sm-8">{{ orderCtrl.order.status }}</ion-label>
    </div>
    <div class="row">
	  	<ion-label class="col-sm-4"><b>Preço: </b></ion-label>
	    <ion-label class="col-sm-8">{{ orderCtrl.order.price? orderCtrl.order.price : "não informado" }},00</ion-label>
    </div>
    <div class="row">
	  	<ion-label class="col-md-4"><b>Descrição: </b></ion-label>
	    <ion-label class="col-md-8">{{ orderCtrl.order.description }}</ion-label>
    </div>
  </ion-content>

  <div class="bar bar-footer" ng-controller="SingleOrderController as orderCtrl">
	<ion-pane style="background-image: url('img/background_tapronto.png')!important;
    background-size: cover !important;" >
		<button class="button button-balanced" ng-click="orderCtrl.bloquearFornecedor()" style="margin-left: 2%; margin-top: 2%;">Bloquear fornecedor</button>
	</ion-pane>
  </div>
</ion-pane>