<ion-pane ng-controller="SingleOrderController as orderCtrl">
  <ion-header-bar class="bar-positive">
    <button class="button icon ion-navicon"></button>
    <h1 class="title">Pedido {{ orderCtrl.order[0].code }}</h1>
  </ion-header-bar>
  <ion-content>
  	<div class="row">
	  	<ion-label class="col-sm-4"><b>Serviço: </b></ion-label>
	    <ion-label class="col-sm-8">{{ orderCtrl.order[0].description.split(" - ")[1] }}</ion-label>
    </div>
    <div class="row">
	  	<ion-label class="col-sm-4"><b>Empresa: </b></ion-label>
	    <ion-label class="col-sm-8">{{ orderCtrl.order[0].description.split(" - ")[0] }}</ion-label>
    </div>
    <div class="row">
	  	<ion-label class="col-sm-4"><b>Data de solicitação: </b></ion-label>
	    <ion-label class="col-sm-8">12/02/2016</ion-label>
    </div>
    <div class="row">
	  	<ion-label class="col-sm-4"><b>Status: </b></ion-label>
	    <ion-label class="col-sm-8">{{ orderCtrl.order[0].status }}</ion-label>
    </div>
    <div class="row">
	  	<ion-label class="col-sm-4"><b>Preço: </b></ion-label>
	    <ion-label class="col-sm-8">{{ orderCtrl.order[0].price? orderCtrl.order[0].price : "não informado" }}</ion-label>
    </div>
    <div class="row">
	  	<ion-label class="col-md-4"><b>Descrição: </b></ion-label>
	    <ion-label class="col-md-8">{{ orderCtrl.order[0].description }}</ion-label>
    </div>
  </ion-content>
</ion-pane>