<ion-pane>
    <ion-header-bar class="bar-stable">
      <h1 class="title">Cadastrar Usuário</h1>
    </ion-header-bar>
    <ion-content>
    <div ng-controller='UserController as userCtrl'>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
		      <input type="text" placeholder="Username" data-ng-model="userCtrl.user. username">
	      </label>
    	  <label class="item item-input item-floating-label">
  			 <span class="input-label">Password</span>
  			 <input type="password" placeholder="Password" data-ng-model="userCtrl.user.  password">
  	    </label>
  	  </div>

    	<button class="button button-block button-positive " ng-click="userCtrl.saveUser()">Finalizar cadastro</button>
      <button class="button button-block button-positive" ng-click="cancelar()">Cancelar</button>
    </div>
  </ion-content>
</ion-pane>
