/* Empty. Add your own CSS if you like */


img.center{
	display: block;
	margin: 0 auto;
}

.buttonLogin {
	border-radius: 25px; 
	border: 1px solid black;
	width: 90%;
	margin-bottom: 10px;
	margin-left: 5%;
	margin-right: 5%;
}

.inputLogin {
	border-radius: 15px; 
	border: 1px solid black;
	width: 90%;
	margin-bottom: 10px;
	margin-left: 5%;
	margin-right: 5%;
}

.transbox {
  background-color: #000000;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}